In [1]:
import pandas
import datetime
import numpy

In [2]:
selDT = datetime.datetime( 2012, 6, 18, 2, 45 )

In [4]:
inpTecFile = "../data/gps120618g.001.hdf5"
dataDF = pandas.read_hdf(inpTecFile, 'Data/Table Layout')
dataDF["date"] = pandas.to_datetime(dataDF["year"]*10000000000 +\
                                    dataDF["month"]*100000000 + dataDF["day"]*1000000 +\
                                    dataDF["hour"]*10000 + dataDF["min"]*100 +\
                                    dataDF["sec"],format='%Y%m%d%H%M%S')
# Only take selected datetime
dataDF["selTimeDel"] = dataDF["date"] - selDT
dataDF = dataDF[ dataDF["selTimeDel"] == min(abs(dataDF["selTimeDel"])) ].reset_index(drop=True)
# Discard bad tec values
dataDF = dataDF[ dataDF["tec"] <= 50. ]
dataDF.head()

,year,month,day,hour,min,sec,ut1_unix,ut2_unix,recno,gdlat,glon,tec,dtec,date,selTimeDel
0,2012,6,18,2,47,30,1339987500,1339987800,68,-90.0,149.0,1.9,2.6,2012-06-18 02:47:30,00:02:30
1,2012,6,18,2,47,30,1339987500,1339987800,68,-90.0,152.0,1.9,2.6,2012-06-18 02:47:30,00:02:30
2,2012,6,18,2,47,30,1339987500,1339987800,68,-90.0,155.0,1.4,2.6,2012-06-18 02:47:30,00:02:30
3,2012,6,18,2,47,30,1339987500,1339987800,68,-90.0,157.0,1.1,2.6,2012-06-18 02:47:30,00:02:30
4,2012,6,18,2,47,30,1339987500,1339987800,68,-90.0,159.0,1.0,2.6,2012-06-18 02:47:30,00:02:30

In [7]:
# medDF = dataDF[ [ "gdlat", "glon", "tec" ] ]
medDF = dataDF.pivot( index="gdlat", columns="glon", values="tec" ).reset_index()
medDF.head()

glon,gdlat,-180.0,-179.0,-178.0,-177.0,-176.0,-175.0,-174.0,-173.0,-172.0,...,170.0,171.0,172.0,173.0,174.0,175.0,176.0,177.0,178.0,179.0
0,-90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,5.4,5.4,5.4,5.4,NaN,NaN,4.3,4.1,3.8
4,-86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN