In [1]:
import pandas
import datetime
import tsygFort

In [2]:
oldSDRBFile = "/sd-data/rbsp/rbspFp_old.dat"

cols = [ "year", "month", "day", "hour", "min", "sat", "nhLat", "nhLon", "shLat", "shLon" ]
rbspOldSDFpDF = pandas.read_csv(oldSDRBFile, \
                             delim_whitespace=True, header=None)
rbspOldSDFpDF.columns = cols


rbspOldSDFpDF = rbspOldSDFpDF[ (rbspOldSDFpDF["year"] == 2012) &\
                             (rbspOldSDFpDF["month"] == 12) &\
                             (rbspOldSDFpDF["day"] == 30) &\
                             (rbspOldSDFpDF["sat"] == "A") ].reset_index(drop=True)
outCols = [ "year", "month", "day", "hour", "min", "nhLat", "nhLon" ]
rbspOldSDFpDF.to_csv( "../data/muhammad-old-sdrbsp-fp.csv",index=None, sep=" ", columns=outCols )
rbspOldSDFpDF.head()

   year  month  day  hour  min sat  nhLat   nhLon  shLat   shLon
0  2012     12   30     0    1   A  37.18  309.42 -43.41  330.97
1  2012     12   30     0    6   A  41.87  315.89 -45.25  338.97
2  2012     12   30     0   11   A  45.44  321.26 -47.47  345.38
3  2012     12   30     0   16   A  48.24  325.92 -49.61  350.99
4  2012     12   30     0   21   A  50.45  329.66 -51.63  355.77

In [3]:
def convert_to_datetime(row):
        """ 
        Given a datestr and a time string for 
        losVel DF convert to a python datetime obj.
        """
        import datetime
        datecolName="date"
        timeColName="time"
        currDateStr = str( int( row[datecolName] ) )
    #     return currDateStr
        if row[timeColName] < 10:
            currTimeStr = "000" + str( int( row[timeColName] ) )
        elif row[timeColName] < 100:
            currTimeStr = "00" + str( int( row[timeColName] ) )
        elif row[timeColName] < 1000:
            currTimeStr = "0" + str( int( row[timeColName] ) )
        else:
            currTimeStr = str( int( row[timeColName] ) )
        return datetime.datetime.strptime( currDateStr\
                        + ":" + currTimeStr, "%Y%m%d:%H%M" )

geoCoordsRbspFile = "/home/bharat/Documents/code/rbsp-geo-pos/rbspPosSatA.txt"
geoRbspMagnsphrDF = pandas.read_csv(geoCoordsRbspFile, \
                             delim_whitespace=True, header=None)

geoRbspMagnsphrDF.columns = [ "date", "time", "alt", "lat", "lon" ]

geoRbspMagnsphrDF = geoRbspMagnsphrDF[ geoRbspMagnsphrDF["date"] == 20121230 ].reset_index(drop=True)

geoRbspMagnsphrDF["datetime"] = geoRbspMagnsphrDF.apply( \
                                    convert_to_datetime, axis=1 )
# geoRbspMagnsphrDF["date"] = [ x.strftime("%Y%m%d") for x in geoRbspMagnsphrDF["datetime"] ]
# geoRbspMagnsphrDF["time"] = [ x.strftime("%H%M") for x in geoRbspMagnsphrDF["datetime"] ]

geoRbspMagnsphrDF["year"] = [ x.year for x in geoRbspMagnsphrDF["datetime"] ]
geoRbspMagnsphrDF["month"] = [ x.month for x in geoRbspMagnsphrDF["datetime"] ]
geoRbspMagnsphrDF["day"] = [ x.day for x in geoRbspMagnsphrDF["datetime"] ]
geoRbspMagnsphrDF["hour"] = [ x.hour for x in geoRbspMagnsphrDF["datetime"] ]
geoRbspMagnsphrDF["min"] = [ x.minute for x in geoRbspMagnsphrDF["datetime"] ]
outCols = [ "year", "month", "day", "hour", "min", "alt", "lat", "lon" ]
geoRbspMagnsphrDF.to_csv( "../data/muhammad-magnLoc-geoCoords.csv",index=None, sep=" ", columns=outCols )
geoRbspMagnsphrDF.head()

,date,time,alt,lat,lon,datetime,year,month,day,hour,min
0,20121230,0,4513.3,-2.1,-41.0,2012-12-30 00:00:00,2012,12,30,0,0
1,20121230,1,4750.2,-2.5,-39.4,2012-12-30 00:01:00,2012,12,30,0,1
2,20121230,2,4987.8,-2.8,-37.8,2012-12-30 00:02:00,2012,12,30,0,2
3,20121230,3,5225.7,-3.1,-36.3,2012-12-30 00:03:00,2012,12,30,0,3
4,20121230,4,5463.8,-3.3,-34.8,2012-12-30 00:04:00,2012,12,30,0,4

In [ ]:
# Magnetic activity [SW pressure (nPa), Dst, ByIMF, BzIMF]
parmod = np.zeros(10)
parmod[0:4] = [2, -8, -2, -5]